.star {
  mix-blend-mode: exclusion;
  background-color: #000; /* Fallback color */
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
}

body {
  background: #1A1C19;
}

.lego {
text-align: center;
align-items: center;
margin-top: -10px;
user-select: none;
}

.text {
z-index: -1;
position: absolute;
top: 5%;
left: 5%;
right: 5%;
}

.bckg{
z-index: -2;
position: absolute;
top: 0;
opacity: 0.4;
}


.divider {
display: flex;
justify-content: center;
align-items: center;
background-color: #1c2f22;
width: 100%;
height: 6%;
color: #fdf9ee;
font-size: 30px;
font-family: 'Lexend Deca', 'Open Sans';
position: absolute;
bottom: 0;
}

.vdivider1{
height: 100%;
width: 1%;
position:absolute;
left: 0;
top: 0;
}

.vdivider2{
height: 100%;
width: 1%;
position:absolute;
right: 0;
top: 0;
}

#side_piece{
z-index: 1;
position: absolute;
left: -2%;
bottom: 0;
}

#side_piece2{
z-index: 1;
position: absolute;
right: -2%;
bottom: 0;
}
